/* ––––––––––––––––––––––––––––––––– */
/* –––––– NON SPECIFIC STUFFS –––––– */
/* ––––––––––––––––––––––––––––––––– */

body {
    font-family: 'Montserrat', sans-serif;
}

html {
    box-sizing: border-box ;
}

*,
*:before,
*:after {
    box-sizing: inherit ;
}

a:link {
    text-decoration: none;
}

section {
    margin-top: 50px;
    margin-bottom: 75px;
}


/* ––––––––––––––––––––––––––––– */
/* –––––– HEADER / FOOTER –––––– */
/* ––––––––––––––––––––––––––––– */

header .frame {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.frame h1 {
    font-size: 65px;
}

.frame a {
    background-color: rgba(150, 82, 27, .774);
    color: white;
    font-size: 25px;
    padding: 10px 30px;
    border: none;
    border-radius: 12.5px;
    cursor: pointer;
}

.bg-image {
    background-position: center;
    background-repeat: no-repeat;
        margin: auto;
    background-size: cover;
    height: 100vh; 
    width: 1280px;
}

.header-bg-image {
    background: url(/images/old-books.jpg);
}

.bg-image h2 {
    color: white;
    font-size: 50px;
    max-width: 50%;
    padding-left: 15%;
    padding-top: 12.5%;
}

.footer-bg-image {
    background: url(/images/watch.jpg);
}


/* ––––––––––––––––––––––– */
/* –––––– MODAL BOX –––––– */
/* ––––––––––––––––––––––– */

#modal-btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    background-color: rgba(150, 82, 27, .774);

    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    cursor: pointer;
}

#modal_bg {
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0s, 0.5s;
    visibility: hidden;
    opacity: 0;
}

#modal {
    position: relative;
    background-color: white;
    width: 50%;
    height: 50%;

    display: flex;
    justify-content: center;

    border-radius: 10px;
    box-shadow: rgb(58, 58, 58) 1px 1px 5px;
}

form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.modal button {
    color: white;
    background-color: rgba(150, 82, 27, .774);

    border: none;
    border-radius: 12.5px;
    padding: 10px 30px;
    cursor: pointer;
}

.modal span {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: xx-large;
    cursor: pointer;
}

.modal h3 {
    position: absolute;
    top: 0px;
    left: 10px;
    font-size: x-large;
}


/* ––––––––––––––––––––––– */
/* –––––– TABLE BOX –––––– */
/* ––––––––––––––––––––––– */

.upperPart {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

.upperPart h2 {
    font-size: 40px;
}

table {
    margin: auto;
    border: 1px ridge black;
    border-collapse: collapse;
    box-shadow: 0 10px 35px rgba(150, 82, 27, .175);
}

table a:link {
    color: black;
    font-weight: bold;
}

thead {
    text-align: center;
}

thead tr:nth-child(even) {
    background-color: rgba(150, 82, 27, .175);
}

th {
    font-size: larger;
    font-weight: bolder;
    padding: 17.5px 25px;
}

td {
    padding: 10px 12.5px;
    font-size: 16px;
}